<div class="panel-body">
  <div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#basic" data-toggle="tab">Basic Info</a></li>
        <li><a href="#description" data-toggle="tab">Description</a></li>
        <li><a href="#logo" data-toggle="tab">Logo</a></li>
        <% if Tag.count > 0 %>
          <li><a href="#tags" data-toggle="tab">Tags</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="basic">
      <%= f.input :name %>
      <%= f.input :title %>
      <%= f.input :url, as: 'string', label: 'URL' %>
      <%= f.input :redirect_uri, as: 'string', :label => 'Redirect URI' %>
    </div>
    <div class="tab-pane" id="description">
      <%= f.input :summary, hint: "Use <a href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' target='_blank'>markdown</a> for formatting.".html_safe %>
      <%= f.input :description, hint: "Use <a href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' target='_blank'>markdown</a> for formatting.".html_safe, input_html: { rows: 8 } %>
    </div>
    <div class="tab-pane" id="tags">
      <%= f.association :tags, as: :check_boxes, label_method: :title, value_method: :id %>
    </div>
  </div>
</div>
<div class="panel-footer">
  <div class="form-group submit pull-right">
    <%= link_to 'Cancel', services_path, { remote: true, class: "btn btn-sm" } %>
    <%= f.submit "Save ", class: "btn btn-sm btn-fill" %>
  </div>
  <div class="clearfix"/>
</div>
