<div class="search-wide">
  <%= form_tag(services_path, :method => "get", :class => "form form-horizontal", :role => "form") do %>
    <div class="input-group">
      <%= search_field_tag :query, params[:query], :placeholder => "Search", :class => "form-control" %>
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary hidden-xs"><%= icon("search") %></button>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class='col-md-9'>
    <% if can?(:manage, Service) and (controller.action_name == "new" or (controller.action_name == "create" and !@service.errors.empty?)) %>
      <div class="panel panel-default">
        <div class="panel-heading panel-title">New service</div>
        <div class="panel-body">
          <%= simple_form_for @service, :url => services_path, :html => { :remote => true } do |f| %>
            <%= f.input :name, input_html: { class: "form-control" } %>
            <%= f.input :title, input_html: { class: "form-control" } %>
            <%= f.input :redirect_uri, :label => 'Redirect URI', :input_html => { class: "form-control" } %>

            <div class="form-group">
              <%= f.submit "Save", class: "btn btn-default" %>
              <%= link_to "Cancel", services_path, { remote: true, class: "btn" } %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <% if @services.size > 0 %>
        <div id="service">
          <% @services.each do |service| %>
            <div class="panel panel-default">
              <div class="panel-heading panel-title panel-list">
                <%= h(service.title) %>
                <% if can?(:manage, service) && !@service || @service.name != service.name || controller.action_name != "edit" || !(controller.action_name == "update" and !@service.errors.empty?) %>
                  <div class="btn-toolbar pull-right">
                    <div class="btn-group btn-group-sm">
                      <%= link_to icon("pencil").html_safe, edit_service_path(service.name, query: params[:query]), remote: true, class: 'btn btn-default btn-sm', id: "#{service.name}-edit" %>
                    </div>
                  </div>
                <% end %>
              </div>
              <% if can?(:manage, @service) && @service && @service.name == service.name && (controller.action_name == "edit" || (controller.action_name == "update" and !@service.errors.empty?)) %>
                <div id="service_<%= service.id %>" class="panel-body">
                  <%= simple_form_for @service, url: service_path(@service), html: { role: "form", remote: true } do |f| %>
                    <%= f.input :name, input_html: { class: "form-control" } %>
                    <%= f.input :title, input_html: { class: "form-control" } %>
                    <%= f.input :redirect_uri, :label => 'Redirect URI', :input_html => { class: "form-control" } %>

                    <div class="form-group">
                      <div class="pull-right">
                        <%= link_to "Delete Service", service_path(service.name, query: params[:query]), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-default btn-sm', id: "#{service.name}-delete" %>
                      </div>
                      <%= f.submit "Save", class: "btn btn-default" %>
                      <%= link_to "Cancel", services_path(query: params[:query]), { :remote => true, :class => 'btn' } %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="panel-footer">
                  <%= link_to (icon("external-link") + " " + service.redirect_uri).html_safe, "/services/#{service.name}" %>
                  <span class="pull-right"><%= service.name %></span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="text-center">
          <%= will_paginate @services, :params => { :controller => services_path, query: params[:query] }, :renderer => BootstrapPagination::Rails %>
        </div>
      <% else %>
        <div class="alert alert-info">There are currently no services
          <% unless params[:query].blank? %>
              with <em><%= params[:query] %></em> in the name or title
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='col-md-3'>
    <% if can?(:manage, Service) %>
      <div class="panel facets">
        <div class="panel-body">
          <h4 class="link"><%= link_to "Add Service", new_service_path, { remote: true, id: "new-service" } %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
