<div class="row">
  <div class='col-md-9'>
    <div class="search-wide">
      <%= form_tag(services_path, :method => "get", :class => "form form-horizontal", :role => "form") do %>
        <div class="input-group">
          <%= search_field_tag :query, params[:query], :placeholder => "Search service", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='col-md-3'>
    <% if can?(:manage, Service) and (controller.action_name != "new" && (controller.action_name != "create")) %>
      <div class="panel facets">
        <div class="panel-body">
          <div class="pull-right">
            <h4 class="link"><%= link_to "#{icon('plus')} Add Service".html_safe, new_service_path, { remote: true, id: "new-service", class: "btn btn-default" } %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class='col-md-9'>
    <% if can?(:manage, Service) and (controller.action_name == "new" || (controller.action_name == "create" && !@service.errors.empty?)) %>
      <div class="panel panel-default">
        <%= simple_form_for @service, url: services_path, :html => { role: "form", multipart: true, remote: true } do |f| %>
          <%= render :partial => 'form', locals: { f: f } %>
        <% end %>
      </div>
    <% else %>
      <% if @services.size > 0 %>
        <% @services.each do |service| %>
          <div class="panel panel-default" id="service_<%= service.id %>">
            <% if can?(:manage, @service) && @service && @service.name == service.name && (controller.action_name == "edit" || (controller.action_name == "update" and !@service.errors.empty?)) %>
              <%= simple_form_for @service, url: service_path(@service), html: { role: "form", remote: true } do |f| %>
                <%= render :partial => 'form', locals: { f: f } %>
              <% end %>
            <% else %>
              <div class="panel-body">
                <h3><%= h(service.title) %></h3>
                <% if service.summary.present? %>
                  <div class="description"><%= markdown(service.summary) %></div>
                <% end %>
                <% if service.description.present? %>
                  <div class="description"><%= markdown(service.description) %></div>
                <% end %>
                <% if service.image.present? %>
                  <div class="logo text-center">
                    <img src="<%= service.image_url %>">
                  </div>
                <% end %>
                <% if service.tags.present? %>
                  <span><%= icon("tags") %> <%= service.tags.sort_by { |t| t.title }.map {|t| "<a href='/services?tag=#{t.name}'>#{t.title}</a>" }.join(', ').html_safe %></span>
                <% end %>
              </div>
              <div class="panel-footer">
                <%= link_to (icon("external-link") + " " + service.url).html_safe, "#{service.url}" %>
                <% if can?(:manage, Service) %>
                  <div class="btn-toolbar pull-right">
                    <div class="btn-group btn-group-sm">
                      <%= link_to icon("trash").html_safe, service_path(service), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-neutral btn-fill btn-sm' %>
                    </div>
                    <div class="btn-group btn-group-sm">
                      <%= link_to icon("pencil").html_safe, edit_service_path(service.name, query: params[:query]), remote: true, class: 'btn btn-neutral btn-fill btn-sm', id: "#{service.name}-edit" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="text-center">
          <%= will_paginate @services, :params => { :controller => services_path, query: params[:query] }, :renderer => BootstrapPagination::Rails %>
        </div>
      <% else %>
        <div class="alert alert-simple-info">
          <h5>
            There are currently no services
            <% unless params[:query].blank? %>
                with <strong><%= params[:query] %></strong> in the name, title or description
            <% end %>
          </h5>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='col-md-3'>
    <div class="panel facets">
      <% if @tags.present? %>
        <div class="panel-body">
          <h4>Tags</h4>
          <ul>
            <% if @tag %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, services_path %>
                <div class="facet-title"><%= @tag.title %></div>
                <span class="number pull-right"><%= @tag.services.count %></span>
                <div class="clearfix"/>
              </li>
            <% else %>
              <% @tags.each do |tag| %>
                <li>
                  <%= link_to icon('square-o').html_safe, services_path(tag: tag.name) %>
                  <div class="facet-title"><%= tag.title %></div>
                  <span class="number pull-right"><%= tag.services.count %></span>
                  <div class="clearfix"/>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'members/preview' %>
