<div class="search-wide">
  <%= form_tag(claims_path, :method => "get", :class => "form-horizontal", :role => "form") do %>
    <div class="input-group">
      <%= search_field_tag :query, params[:query], :placeholder => "Search", :class => "form-control" %>
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary hidden-xs"><%= icon("search") %></button>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class='col-md-9'>
    <% if @claims.size > 0 %>
      <div class="panel-group" id="claim">
        <% @claims.each do |claim| %>
          <div class="panel panel-default">
            <% if claim.claimed_at.present? %>
              <div class="panel-heading panel-title panel-list">
                <%= h(claim.doi) %><small class="pull-right"><%= l claim.claimed_at.to_date, format: :medium %></small>
              </div>
            <% else %>
              <div class="panel-heading panel-title panel-list">
                <%= h(claim.doi) %><small class="pull-right">not claimed</small>
              </div>
            <% end %>
            <div class="panel-footer">
              <%= sources[claim.source_id] %>
              <span class="pull-right"><%= claim.human_state_name %></span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= will_paginate @claims, :params => { :controller => claims_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-info">There are currently no claims
        <% unless params[:query].blank? %>
            with <em><%= params[:query] %></em> in the DOI
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='col-md-3'>
    <div class="panel facets">
      <div class="panel-body">
        <h4>Sources</h4>
        <ul>
          <% if @source %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, claims_path(query: params[:query], state: params[:state]) %>
              <%= sources[@source.first] %>
              <span class="number pull-right"><%= number_with_delimiter(@source.last) %></span>
            </li>
          <% else %>
            <% @sources.each do |source| %>
              <li>
                <%= link_to icon('square-o').html_safe, claims_path(query: params[:query], source: source.first, state: params[:state]) %>
                <%= sources[source.first] %>
                <span class="number pull-right"><%= number_with_delimiter(source.last) %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="panel-body">
        <h4>Status</h4>
        <ul>
          <% if @state %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, claims_path(query: params[:query], source: params[:source]) %>
              <%= state_names[@state.first].humanize %>
              <span class="number pull-right"><%= number_with_delimiter(@state.last) %></span>
            </li>
          <% else %>
            <% @states.each do |state| %>
              <li>
                <%= link_to icon('square-o').html_safe, claims_path(query: params[:query], source: params[:source], state: state.first) %>
                <%= state_names[state.first].humanize %>
                <span class="number pull-right"><%= number_with_delimiter(state.last) %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
