<div class="row">
  <div class='col-md-9'>
    <div class="search-wide">
      <%= form_tag(claims_path, :method => "get", :class => "form-horizontal", :role => "form") do %>
        <div class="input-group">
          <%= search_field_tag :query, params[:query], :placeholder => "Search claim", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-9' id="content">
    <% if @claims.size > 0 %>
      <% @claims.each do |claim| %>
        <div class="panel panel-default">
          <% if claim.claimed_at.present? %>
            <div class="panel-heading panel-title panel-list">
              <%= h(claim.doi) %><small class="pull-right"><%= l claim.claimed_at, format: :medium %></small>
            </div>
          <% else %>
            <div class="panel-heading panel-title panel-list">
              <%= h(claim.doi) %><small class="pull-right">not claimed</small>
            </div>
          <% end %>
          <% if claim.error_messages.present? || current_user.is_admin_or_staff? %>
            <div class="panel-body">
              <%= link_to h(claim.orcid), claims_path(query: params[:query], source: params[:source], state: params[:state], user_id: claim.orcid) %>
              <% if claim.user %>
                <span class="pull-right"><%= link_to h(claim.user.credit_name), users_path(query: claim.orcid) %></span>
              <% end %>
              <% if claim.error_messages.present? %>
                <% if current_user.is_admin_or_staff? %>
                  <br/><br/>
                <% end %>
                <%= h(claim.error_messages.first["title"]) %>
              <% end %>
            </div>
          <% end %>
          <div class="panel-footer">
            <%= sources[claim.source_id] %>
            <div class="btn-toolbar pull-right">
              <div class="btn-group btn-group-sm">
                <% if claim.failed? %>
                  <%= link_to claim.human_state_name, claim_path(claim, :claim => { :resolve => true }, state: params[:state], source: params[:source]), :method => :put, :remote => true %>
                <% else %>
                  <%= claim.human_state_name %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= will_paginate @claims, :params => { :controller => claims_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-info">There are currently no claims
        <% unless params[:query].blank? %>
            with <em><%= params[:query] %></em> in the DOI
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @claims.size > 0 %>
    <div class='col-md-3'>
      <div class="panel facets">
      <% if current_user.is_admin_or_staff? %>
        <div class="panel-body">
          <h4>Users</h4>
          <ul>
            <% if params[:user_id] == current_user.uid %>
              <li>
                <%= link_to icon('check-square-o').html_safe, claims_path(query: params[:query], source: params[:source], state: params[:state]) %>
                <div class="facet-title"><%= current_user.uid %></div>
                <span class="number pull-right"><%= number_with_delimiter(@my_claim_count) %></span>
                <div class="clearfix"/>
              </li>
            <% else %>
              <li class="active">
                <%= link_to icon('square-o').html_safe, claims_path(query: params[:query], source: params[:source], state: params[:state], user_id: current_user.uid) %>
                <div class="facet-title"><%= current_user.uid %></div>
                <span class="number pull-right"><%= number_with_delimiter(@my_claim_count) %></span>
                <div class="clearfix"/>
              </li>
            <% end %>
            <% if params[:user_id].present? && params[:user_id] != current_user.uid %>
              <li>
                <%= link_to icon('check-square-o').html_safe, claims_path(query: params[:query], source: params[:source], state: params[:state], user_id: params[:user_id]) %>
                <div class="facet-title"><%= params[:user_id] %></div>
                <span class="number pull-right"><%= number_with_delimiter(@claim_count) %></span>
                <div class="clearfix"/>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div class="panel-body">
          <h4>Sources</h4>
          <ul>
            <% if @source %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, claims_path(query: params[:query], state: params[:state]) %>
                <div class="facet-title"><%= sources[@source.first] %></div>
                <span class="number pull-right"><%= number_with_delimiter(@source.last) %></span>
                <div class="clearfix"/>
              </li>
            <% else %>
              <% @sources.each do |source| %>
                <li>
                  <%= link_to icon('square-o').html_safe, claims_path(query: params[:query], source: source.first, state: params[:state]) %>
                  <div class="facet-title"><%= sources[source.first] %></div>
                  <span class="number pull-right"><%= number_with_delimiter(source.last) %></span>
                  <div class="clearfix"/>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="panel-body">
          <h4>Status</h4>
          <ul>
            <% if @state %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, claims_path(query: params[:query], source: params[:source]) %>
                <div class="facet-title"><%= state_names[@state.first].humanize %></div>
                <span class="number pull-right"><%= number_with_delimiter(@state.last) %></span>
                <div class="clearfix"/>
              </li>
            <% else %>
              <% @states.each do |state| %>
                <li>
                  <%= link_to icon('square-o').html_safe, claims_path(query: params[:query], source: params[:source], state: state.first) %>
                  <div class="facet-title"><%= state_names[state.first].humanize %></div>
                  <span class="number pull-right"><%= number_with_delimiter(state.last) %></span>
                  <div class="clearfix"/>
                </li>
              <% end %>
            <% end %>

          </ul>
        </div>
      </div>
  <% end %>
  </div>
</div>
