<div class="search-wide">
  <%= form_tag(claims_path, :method => "get", :class => "form-horizontal", :role => "form") do %>
    <div class="input-group">
      <%= search_field_tag :query, params[:query], :placeholder => "Search", :class => "form-control" %>
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary hidden-xs"><%= icon("search") %></button>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class='col-md-9'>
    <% if @claims.size > 0 %>
      <div class="panel-group" id="claim">
        <% @claims.each do |claim| %>
          <div class="panel panel-default">
            <% if claim.claimed_at.present? %>
              <div class="panel-heading panel-title panel-list">
                <%= link_to ("#{h(claim.doi)}<small class='pull-right'>#{claim.claimed_at.to_s(:short)}</small>").html_safe, "#claim_#{claim.id}", :class => "accordion-toggle", :id => "link_#{claim.id}", :data => { :toggle => "collapse", :parent => "#claim" }, :href => "#claim_#{claim.id}" %>
              </div>
            <% else %>
              <div class="panel-heading panel-title panel-list">
                <%= link_to ("#{h(claim.doi)}<small class='pull-right'>not claimed</small>").html_safe, "#claim_#{claim.id}", :class => "accordion-toggle", :id => "link_#{claim.id}", :data => { :toggle => "collapse", :parent => "#claim" }, :href => "#claim_#{claim.id}" %>
              </div>
            <% end %>
            <% if can?(:manage, claim) && (controller.action_name == "edit" or (controller.action_name == "update" and !@claim.errors.empty?)) %>
              <div id="claim_<%= claim.id %>" class="panel-collapse collapse.in">
                <div class="panel-body">

                </div>
              </div>
            <% else %>
              <div id="claim_<%= claim.id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <h5>State</h5>
                  <%= claim.human_state_name %>

                  <h5>Source</h5>
                  <%= claim.source_id.humanize.titleize %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= will_paginate @claims, :params => { :controller => claims_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-info">There are currently no claims
        <% unless params[:query].blank? %>
            with <em><%= params[:query] %></em> in the DOI
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='col-md-3'>
    <div class="panel facets">
      <div class="panel-body">
        <h4>Sources</h4>
        <ul>
          <% if @source %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, claims_path %>
              <%= @source.first.humanize %>
              <span class="number pull-right"><%= number_with_delimiter(@source.last) %></span>
            </li>
          <% else %>
            <% @sources.each do |source| %>
              <li>
                <%= link_to icon('square-o').html_safe, claims_path(source: source.first) %>
                <%= source.first.humanize.titleize %>
                <span class="number pull-right"><%= number_with_delimiter(source.last) %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="panel-body">
        <h4>States</h4>
        <ul>
          <% if @state %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, claims_path %>
              <%= @state.first %>
              <span class="number pull-right"><%= number_with_delimiter(@state.last) %></span>
            </li>
          <% else %>
            <% @states.each do |state| %>
              <li>
                <%= link_to icon('square-o').html_safe, claims_path(state: state.first) %>
                <%= state.first %>
                <span class="number pull-right"><%= number_with_delimiter(state.last) %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
