<div class="wrapper">
  <div class="register-background" style="background-image: url('<%= ENV['CDN_URL'] %>/images/profiles/landing.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
            <div class="register-card-login">
              <h3 class="title">Sign In</h3>
              <%= link_to "<span></span> Sign in with ORCID".html_safe, user_orcid_omniauth_authorize_path, :id => "sign-in-orcid", class: 'btn btn-block btn-social btn-orcid btn-fill' %>
              <%= link_to '<span class="fa fa-google"></span> Sign in with Google'.html_safe, user_google_oauth2_omniauth_authorize_path, :id => "sign-in-google", class: 'btn btn-block btn-social btn-google btn-fill' %>
              <%= link_to '<span class="fa fa-github"></span> Sign in with Github'.html_safe, user_github_omniauth_authorize_path, :id => "sign-in-github", class: 'btn btn-block btn-social btn-github btn-fill' %>

              <div class="division">
                <div class="line l"></div>
                <span>or</span>
                <div class="line r"></div>
              </div>

              <%= simple_form_for :user, url: user_registration_path(:user), html: { class: "form-horizontal", role: "form" } do |f| %>
                <%= f.input :email, required: true, label: false, :autofocus => true, placeholder: "Email Address", html: { class: "form-control" } %>
                <%= f.input :password, required: true, label: false, :autofocus => true, placeholder: "Password", html: { class: "form-control" } %>
                <p>Sign in or create an account with DataCite.</p>
                <button type="submit" class="btn btn-primary btn-fill pull-right bottom">Submit</button>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
