<div class="wrapper">
  <!-- https://www.pexels.com/photo/dark-vintage-table-keys-67094/ -->
  <div class="<%= @show_image.present? ? 'landing-header' : 'landing-alert-header' %>" style="background-image: url('//<%= ENV['CDN_HOST'] %>/images/profiles/landing.jpg');">
    <div class="container-fluid">
      <div class="motto">
        <h1><%= ENV['SITE_TITLE'] %></h1>
        <p>Please register for DataCite services that require authentication</p>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-4 col-sm-offset-2 info">
          <div class="icon icon-orcid">
            <%= icon('search') %>
          </div>
          <div class="description">
            <h3>ORCID Search and Link</h3>
            <p>Manually add works you find via <%= link_to 'DataCite Search', 'http://search.datacite.org' %> to your ORCID record.</p>
          </div>
        </div>
        <div class="col-sm-4 info">
          <div class="icon icon-orcid">
            <%= icon('exchange') %>
          </div>
          <div class="description">
            <h3>ORCID Auto-Update</h3>
            <p>Automatically have works in the <%= link_to 'DataCite Metadata Store', 'http://mds.datacite.org' %> added to your ORCID record.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
