<div class="panel panel-default" id="content-account">
  <% if can?(:update, @user) && (controller.action_name == "edit" || (controller.action_name == "update" && !@user.errors.empty?)) %>
    <%= simple_form_for @user, url: user_path(@user, panel: "account"), html: { role: "form", remote: true } do |f| %>
      <div class="panel-body">
        <%= f.input :provider_id, collection: @providers, label_method: :name, value_method: :id, input_html: { class: "form-user" } %>
      </div>
      <div class="panel-footer">
        <div class="form-group pull-right">
          <%= link_to 'Cancel', user_path(@user), { :remote => true, :class => 'btn btn-sm' } %>
          <%= f.submit "Save ", class: "btn btn-sm btn-fill" %>
        </div>
        <div class="clearfix"/>
      </div>
    <% end %>
  <% else %>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <% if @user.name.present? %>
          <dt>Name</dt>
          <dd><%= @user.name %></dd>
        <% end %>
        <% if @user.other_names.present? %>
          <dt>Other Names</dt>
          <dd><%= h(@user.other_names.join(', ')) %></dd>
        <% end %>
        <% if @user.email.present? %>
          <dt>Email</dt>
          <dd><%= @user.email %></dd>
        <% end %>
        <% if @user.github.present? %>
          <dt>Github</dt>
          <dd><%= link_to @user.github, "https://github.com/#{@user.github}" %></dd>
        <% end %>
      </dl>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>ORCID</dt>
        <dd><%= link_to @user.orcid, @user.orcid %></dd>
        <dt>ORCID Token</dt>
        <dd><%= @user.authentication_token %></dd>
        <dt>Token Expires</dt>
        <dd>
          <% if @user.expires_at < Time.zone.now %>
            <span class="danger"><%= @user.expires_at.to_date.to_s(:long) %></span>
          <% else %>
            <%= @user.expires_at.to_date.to_s(:long) %>
          <% end %>
        </dd>
      </dl>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Role</dt>
        <dd><%= @user.role.name %></dd>
        <% if @user.provider_name %>
          <dt>Provider</dt>
          <dd><%= h(@user.provider_name) %></dd>
        <% end %>
        <% if @user.client_name %>
          <dt>Client</dt>
          <dd><%= h(@user.client_name) %></dd>
        <% end %>
        <dt>Record Public</dt>
        <% if @user.is_public %>
          <dd><%= @user.is_public %></dd>
        <% else %>
          <dd class="text-info"><%= @user.is_public %></dd>
        <% end %>
      </dl>
    </div>
    <div class="panel-footer">
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm pull-right">
          <%= link_to icon("pencil").html_safe, edit_user_path(@user, panel: "account"), remote: true, class: 'btn btn-neutral btn-fill btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
