<div class="row">
  <div class='col-md-9'>
    <div class="search-wide">
      <%= form_tag(users_path, :method => "get", :class => "form-horizontal", :role => "form") do %>
        <div class="input-group">
          <%= search_field_tag :query, params[:query], :placeholder => "Search user", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-9'>
    <% if @users.size > 0 %>
      <div class="panel-list" id="user">
        <% @users.each do |user| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= link_to ("#{h(user.name.to_s)}<span class='small pull-right'>#{l user.created_at, format: :medium}</span>").html_safe, "#user_#{user.id}", :class => "accordion-toggle", :id => "link_#{user.id}", :data => { :toggle => "collapse", :parent => "#user" }, :href => "#user_#{user.id}" %>
            </div>
            <% if can?(:manage, user) && @user && @user.id == user.id && (controller.action_name == "edit" or (controller.action_name == "update" and !@user.errors.empty?)) %>
              <div id="user_<%= user.id %>" class="panel-collapse collapse.in">
                <div class="panel-body">
                  <%= simple_form_for user, url: user_path(user), html: { role: "form", remote: true } do |f| %>
                    <%= f.input :api_key, label: "API key", input_html: { class: "form-user" } %>
                    <%= f.input :role, collection: roles.map { |role| [role.titleize, role] }, include_blank: false, input_html: { class: "form-user" } %>
                    <%= f.association :member, label_method: :title, input_html: { class: "form-user" } %>
                </div>
                <div class="panel-footer">
                  <div class="form-group pull-right">
                    <%= link_to 'Cancel', users_path(query: params[:query], role: params[:role]), { :remote => true, :class => 'btn btn-sm' } %>
                    <%= f.submit "Save ", class: "btn btn-sm btn-fill" %>
                  </div>
                  <div class="clearfix"/>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div id="user_<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body user-list">
                  <% if user.email.present? %>
                    <h5>Email</h5>
                    <%= link_to h(user.email), "mailto:#{user.email}" %>
                  <% elsif user.unconfirmed_email.present? %>
                    <h5>Email (unconfirmed)</h5>
                    <%= link_to h(user.unconfirmed_email), "mailto:#{user.unconfirmed_email}" %>
                  <% end %>

                  <h5>ORCID</h5>
                  <%= link_to h(user.orcid), user.orcid %>

                  <% if user.api_key.present? %>
                    <h5>API key</h5>
                    <%= user.api_key %>
                  <% end %>

                  <h5>Role</h5>
                  <%= user.role.capitalize %>

                  <% if user.member.present? %>
                    <h5>Member</h5>
                    <%= link_to h(user.member.title), member_path(user.member.name) %>
                  <% end %>

                  <h5>Account created</h5>
                  <%= l user.created_at, format: :medium %>

                  <div class="btn-toolbar">
                    <div class="btn-group btn-group-sm pull-right">
                      <%= link_to 'expire token', user_path(user, user: { expires_at: Time.zone.now }), { method: :put, remote: true, class: 'btn btn-warning' } %>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <% if can?(:manage, user) && user.id != current_user.id %>
                    <div class="btn-toolbar">
                      <div class="btn-group btn-group-sm pull-right">
                        <%= link_to icon("pencil").html_safe, edit_user_path(user, query: params[:query], role: params[:role], page: params[:page]), remote: true, class: 'btn btn-neutral btn-fill btn-sm', id: "#{user.id}-edit" %>
                      </div>
                      <div class="btn-group btn-group-sm pull-right">
                        <%= link_to icon("trash").html_safe, user_path(user, query: params[:query], role: params[:role], page: params[:page]), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-neutral btn-fill btn-sm', id: "#{user.id}-delete" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= will_paginate @users, :params => { :controller => users_path }, :renderer => BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-simple-info">
        <h5>
          There are currently no users
          <% unless @role.nil? %>
              with role "<%= @role.titleize %>"
          <% end %>
          <% unless params[:query].blank? %>
              with <strong><%= params[:query] %></strong> in the name, email or API key
          <% end %>
        </h5>
      </div>
    <% end %>
  </div>
  <div class='col-md-3'>
    <div class="panel facets">
      <div class="panel-body">
        <h4>Roles</h4>
        <ul>
          <% if @role %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, users_path %>
              <div class="facet-title"><%= @role.first.titleize %></div>
              <span class="number pull-right"><%= number_with_delimiter(@role.last) %></span>
              <div class="clearfix"/>
            </li>
          <% else %>
            <% @roles.each do |role| %>
              <li>
                <%= link_to icon('square-o').html_safe, users_path(role: role.first) %>
                <div class="facet-title"><%= role.first.titleize %></div>
                <span class="number pull-right"><%= number_with_delimiter(role.last) %></span>
                <div class="clearfix"/>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
