<div class="panel panel-<%= email_text %>">
  <div class="panel-heading panel-title">
    Mailing List <%= subscribed_text.html_safe %>
  </div>
  <div class="panel-body">
    <%= icon("envelope-o", class: "fa-2x fa-pull-left") %>
    <p>Subscribe to the mailing list to receive updates from DataCite (<strong>coming soon</strong>).</p>
    <br/>
    <% if @user.has_email? || @user.has_unconfirmed_email? %>
      <dl class="dl-horizontal">
        <% if @user.email.present? %>
          <dt>Email</dt>
          <dd><%= @user.email %></dd>
        <% elsif @user.unconfirmed_email.present? %>
          <dt>Email</dt>
          <dd><%= @user.unconfirmed_email %></dd>
        <% end %>
      </dl>
      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm orcid">
          <%= link_to 'unsubscribe'.html_safe, user_path(current_user, :user => { :unsubscribe => true }), :method => :put, :remote => true, :class => 'btn btn-default btn-sm', :id => "subscribe" %>
        </div>
      </div>
    <% else %>
      <%= simple_form_for @user, :url => user_path(@user, panel: 'notification'), :html => { :remote => true } do |f| %>
        <%= f.input :email, input_html: { class: "form-control" }, label: false %>

        <div class="btn-toolbar pull-right">
          <div class="btn-group btn-group-sm orcid">
             <%= f.submit "subscribe", class: "btn btn-info" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
