<ul class="nav nav-pills">
  <li class="active"><a href="#account" data-toggle="tab">Your Account</a></li>
  <li><a href="#notification" data-toggle="tab">Mailing List</a></li>
  <li><a href="#orcid" data-toggle="tab">ORCID</a></li>
  <li><a href="#impactstory" data-toggle="tab">ImpactStory</a></li>
  <li><a href="#github" data-toggle="tab">GitHub</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="account">
    <%= render :partial => 'users/account' %>
  </div>
  <div class="tab-pane" id="notification">
    <%= render :partial => 'users/notification' %>
  </div>
  <div class="tab-pane" id="orcid">
    <%= render :partial => 'users/orcid' %>
  </div>
  <div class="tab-pane" id="impactstory">
    <%= render :partial => 'users/impactstory' %>
  </div>
  <div class="tab-pane" id="github">
    <%= render :partial => 'users/github' %>
  </div>
</div>
