<div class="row">
  <div class='col-md-9'>
    <div class="panel panel-default" id="content-account">
      <% if can?(:update, @user) && (controller.action_name == "edit" || (controller.action_name == "update" && !@user.errors.empty?)) %>
        <%= simple_form_for @user, url: user_path(@user), html: { role: "form", remote: true } do |f| %>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dd><h3 class="work">Settings</h3></dd>
            </dl>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class='col-md-10 col-md-offset-2'>
                <div class="form-group">
                  <%= f.input :is_public, label: "Record is public", input_html: { class: "form-user" } %>
                  <%= f.input :auto_update, label: "Auto-Update is enabled", input_html: { class: "form-user" } %>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="form-group pull-right">
              <%= link_to 'Cancel', user_path(@user), { :remote => true, :class => 'btn btn-sm' } %>
              <%= f.submit "Save ", class: "btn btn-sm btn-fill" %>
            </div>
            <div class="clearfix"/>
          </div>
        <% end %>
      <% else %>
        <div class="panel-body">          
          <dl class="dl-horizontal">
            <dd><h3 class="work">Settings</h3></dd>
          </dl>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>ORCID ID</dt>
            <dd><%= link_to @user.orcid_as_url, @user.orcid %></dd>  
            <% if @user.name.present? %>
              <dt>Name</dt>
              <dd><%= @user.name %></dd>
            <% end %>
            <% if @user.other_names.present? %>
              <dt>Other Names</dt>
              <dd><%= h(@user.other_names.join(', ')) %></dd>
            <% end %>
            <% if @user.organization.present? %>
              <dt>Organization</dt>
              <dd><%= @user.organization %></dd>
            <% end %>
            <% if @user.email.present? %>
              <dt>Email</dt>
              <dd><%= @user.email %></dd>
            <% end %>
            <% if @user.github.present? %>
              <dt>Github</dt>
              <dd><%= link_to @user.github, "https://github.com/#{@user.github}" %></dd>
            <% end %>
          </dl>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>ORCID Token</dt>
            <dd>
              <% if Time.zone.now < @user.orcid_expires_at %>
                <%= link_to "<img id=\"orcid-logo\" src=\"#{ENV["CDN_URL"]}/images/orcid.png\" alt=\"ORCID icon\"/>&nbsp;Delete ORCID Token".html_safe, user_path(@user, user: { orcid_token: nil, orcid_expires_at: Time.zone.now }), { method: :put, remote: true, class: 'btn btn-social btn-orcid btn-fill' } %>
              <% else %>
                <%= link_to "<img id=\"orcid-logo\" src=\"#{ENV["CDN_URL"]}/images/orcid.png\" alt=\"ORCID icon\"/>&nbsp;Get ORCID Token".html_safe, user_orcid_omniauth_authorize_path, :id => "sign-in-orcid", class: 'btn btn-social btn-orcid btn-fill' %>
              <% end %>
            </dd>
          </dl>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Record</dt>
            <% if @user.is_public %>
              <dd>is public</dd>
            <% else %>
              <dd class="text-info">is private</dd>
            <% end %>
            <dt>Auto-Update</dt>
            <% if @user.auto_update %>
              <dd>is enabled</dd>
            <% else %>
              <dd class="text-info">is disabled</dd>
            <% end %>
          </dl>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Role</dt>
            <dd><%= @user.role.name %></dd>
            <% if @user.beta_tester %>
              <dt>Beta Tester</dt>
              <dd>is true</dd>
            <% end %>
          </dl>
        </div>
          <div class="panel-footer">
            <div class="form-group pull-right">
              <%= link_to 'Update', edit_user_path(@user), :remote => true, :class => 'btn btn-sm', id: "#{@user.id}-edit" %>
            </div>
            <div class="clearfix"/>
          </div>
      <% end %>
    </div>
  </div>
</div>
