<div class="row">
  <div class='col-md-9'>
    <div class="tab-content">
      <div class="tab-pane" id="account">
        <%= render :partial => 'users/account' %>
      </div>
      <div class="tab-pane panel-list" id="login">
        <%= render :partial => 'users/login' %>
      </div>
      <div class="tab-pane panel-list" id="orcid">
        <%= render :partial => 'users/orcid' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <ul class="nav nav-tabs nav-stacked" id="user-tabs" data-active="<%= @panel %>">
      <li><a href="#account" data-toggle="tab">Your Account</a></li>
      <li><a href="#login" data-toggle="tab">Social Login</a></li>
      <li><a href="#orcid" data-toggle="tab">ORCID Claims</a></li>
    </ul>
  </div>
</div>

<%= javascript_include_tag 'users/tabs' %>
