<div class="row">
  <div class='col-md-9'>
    <div class="tab-content">
      <div class="tab-pane" id="account">
        <%= render :partial => 'users/account' %>
      </div>
      <div class="tab-pane panel-list" id="login">
        <%= render :partial => 'users/login' %>
      </div>
      <% if @member.present? %>
       <div class="tab-pane" id="member">
         <%= render :partial => 'members/show' %>
       </div>
     <% end %>
      <div class="tab-pane panel-list" id="orcid">
        <%= render :partial => 'users/orcid' %>
      </div>
      <div class="tab-pane panel-list" id="sandbox">
        <%= render :partial => 'users/sandbox' %>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <ul class="nav nav-tabs nav-stacked" id="user-tabs" data-active="<%= @panel %>">
      <li><a href="#account" data-toggle="tab">Your Account</a></li>
      <li><a href="#login" data-toggle="tab">Social Login</a></li>
      <% if @member.present? %>
        <li><a href="#member" data-toggle="tab">Member Record</a></li>
      <% end %>
      <li><a href="#orcid" data-toggle="tab">ORCID Claims</a></li>
      <% unless Rails.env.production? %>
        <li><a href="#sandbox" data-toggle="tab">Sandbox</a></li>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_include_tag 'users/tabs' %>
