<div class="panel panel-default">
  <div class="panel-heading panel-title">
    <% if can?(:create, User) && controller.action_name != "edit" && !(controller.action_name == "update" && !@user.errors.empty?) %>
      <span class="pull-right">
         <%= link_to icon("pencil").html_safe, edit_user_path(@user), { remote: true, class: 'btn btn-default btn-sm', id: 'edit' } %>
      </span>
    <% end %>
    Your Account
  </div>
  <div class="panel-body">
    <% if can?(:create, User) && (controller.action_name == "edit" || (controller.action_name == "update" && !@user.errors.empty?)) %>
      <%= simple_form_for @user, :url => user_path(@user), :html => { :remote => true } do |f| %>
          <%= f.input :name, input_html: { class: "form-user" } %>
          <%= f.input :email, input_html: { class: "form-user" } %>
          <%= f.input :authentication_token, label: "API key", input_html: { class: "form-user" } %>

          <div class="form-group">
            <%= f.submit "Save ", class: "btn btn-default" %>
            <%= link_to 'Cancel', user_path(@user), { remote: true, class: 'btn' } %>
          </div>
      <% end %>
    <% else %>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= @user.name %></dd>
        <% if @user.email.present? %>
          <dt>Email</dt>
          <dd><%= @user.email %></dd>
        <% end %>
        <dt>API Key</dt>
        <dd><%= @user.authentication_token %></dd>
        <dt>Role</dt>
        <% if @user.role == "admin" %>
          <dd>Admin - full access to the admin dashboard</dd>
        <% elsif @user.role == "staff" %>
          <dd>Staff - read access to the admin dashboard</dd>
        <% else %>
          <dd>User - read access to the API</dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>
