<div class="row">
  <div class='col-md-9 col-md-offset-3'>
    <div id="search" class="search-wide">
      <%= form_tag(admin_claims_path, :method => "get", :class => "form-horizontal", :role => "form") do %>
        <div class="input-group">
          <%= search_field_tag :query, params[:query], :placeholder => "Search claim", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-3'>
    <div class="panel facets">
      <% if current_user.is_admin_or_staff? %>
        <div class="panel-body">
          <h4>Users</h4>
          <ul>
            <% if params[:user_id] == current_user.uid %>
              <li>
                <%= link_to icon('check-square-o').html_safe, admin_claims_path(query: params[:query], source: params[:source], state: params[:state]) %>
                <div class="facet-title"><%= current_user.uid %></div>
                <span class="number pull-right"><%= number_with_delimiter(@my_claim_count) %></span>
                <div class="clearfix"/>
              </li>
            <% else %>
              <li class="active">
                <%= link_to icon('square-o').html_safe, admin_claims_path(query: params[:query], source: params[:source], state: params[:state], user_id: current_user.uid) %>
                <div class="facet-title"><%= current_user.uid %></div>
                <span class="number pull-right"><%= number_with_delimiter(@my_claim_count) %></span>
                <div class="clearfix"/>
              </li>
            <% end %>
            <% if params[:user_id].present? && params[:user_id] != current_user.uid %>
              <li>
                <%= link_to icon('check-square-o').html_safe, admin_claims_path(query: params[:query], source: params[:source], state: params[:state]) %>
                <div class="facet-title"><%= params[:user_id] %></div>
                <span class="number pull-right"><%= number_with_delimiter(@claim_count) %></span>
                <div class="clearfix"/>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="panel-body">
        <h4>Sources</h4>
        <ul>
          <% if @source %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, admin_claims_path(query: params[:query], user_id: params[:user_id], state: params[:state]) %>
              <div class="facet-title"><%= sources[@source.first] %></div>
              <span class="number pull-right"><%= number_with_delimiter(@source.last) %></span>
              <div class="clearfix"/>
            </li>
          <% else %>
            <% @sources.each do |source| %>
              <li>
                <%= link_to icon('square-o').html_safe, admin_claims_path(query: params[:query], source: source.first, user_id: params[:user_id], state: params[:state]) %>
                <div class="facet-title"><%= sources[source.first] %></div>
                <span class="number pull-right"><%= number_with_delimiter(source.last) %></span>
                <div class="clearfix"/>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="panel-body">
        <h4>Actions</h4>
        <ul>
          <% if @claim_action %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, admin_claims_path(query: params[:query], state: params[:state]) %>
              <div class="facet-title"><%= @claim_action.first.humanize %></div>
              <span class="number pull-right"><%= number_with_delimiter(@claim_action.last) %></span>
              <div class="clearfix"/>
            </li>
          <% else %>
            <% @claim_actions.each do |claim_action| %>
              <li>
                <%= link_to icon('square-o').html_safe, admin_claims_path(query: params[:query], claim_action: claim_action.first, state: params[:state]) %>
                <div class="facet-title"><%= claim_action.first.humanize %></div>
                <span class="number pull-right"><%= number_with_delimiter(claim_action.last) %></span>
                <div class="clearfix"/>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="panel-body">
        <h4>Status</h4>
        <ul>
          <% if @state %>
            <li class="active">
              <%= link_to icon('check-square-o').html_safe, admin_claims_path(query: params[:query], source: params[:source], user_id: params[:user_id], claim_action: params[:claim_action]) %>
              <div class="facet-title"><%= @state.first.humanize %></div>
              <span class="number pull-right"><%= number_with_delimiter(@state.last) %></span>
              <div class="clearfix"/>
            </li>
          <% else %>
            <% @states.each do |state| %>
              <li>
                <%= link_to icon('square-o').html_safe, admin_claims_path(query: params[:query], source: params[:source], user_id: params[:user_id], claim_action: params[:claim_action], state: state.first) %>
                <div class="facet-title"><%= state.first.humanize %></div>
                <span class="number pull-right"><%= number_with_delimiter(state.last) %></span>
                <div class="clearfix"/>
              </li>
            <% end %>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
  <div class='col-md-9 panel-list' id="content">
    <% if @claims.size > 0 %>
      <% @claims.each do |claim| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class='pull-right'><%= claim.doi %></span>
              <%= claim.user.credit_name %>
            </h3>
          </div>
          <% if can?(:manage, claim) && @claim && @claim.id == claim.id && (controller.action_name == "edit" or (controller.action_name == "update" and !@claim.errors.empty?)) %>
            <%= simple_form_for claim, url: admin_claim_path(claim), html: { role: "form", remote: true } do |f| %>
              <div class="panel-body">
                <%= f.input :aasm_state, collection: aasm_states, include_blank: false, label: "State", input_html: { class: "form-user" } %>
                <%= f.input :put_code, label: "Put Code", input_html: { class: "form-user" } %>
                <%= f.input :error_messages, as: :text, label: "Error Message", input_html: { class: "form-user", rows: 5 } %>
              </div>
              <div class="panel-footer">
                <div class="form-group pull-right">
                  <%= link_to 'Cancel', admin_claims_path(query: params[:query]), { :remote => true, :class => 'btn btn-sm' } %>
                  <%= f.submit "Save ", class: "btn btn-sm btn-fill" %>
                </div>
                <div class="clearfix"/>
              </div>
            <% end %>
            <% else %>
              <div class="panel-body"> 
                <span class="label <%= state_label(claim.state) %> pull-right"><%= claim.state %></span>
                <% if claim.error_messages.present? || current_user.is_admin_or_staff? %>
                  <% if claim.user %>
                    <h5>ORCID</h5>
                    <%= link_to h(claim.orcid), admin_users_path(query: claim.orcid) %>
                  <% end %>
                  
                  <h5>DOI</h5>
                  <%= link_to h(claim.doi), "#{ENV['SEARCH_URL']}/works/#{claim.doi}" %>
                  
                  <h5>Put Code</h5>
                  <% if claim.put_code.present? %>
                    <%= claim.put_code %>
                  <% else %>
                    none
                  <% end %>

                  <% if claim.done? && claim.claimed_at %>
                    <h5>Claimed</h5>
                    <%= l claim.claimed_at, format: :medium %>
                  <% else %>
                    <h5>Updated</h5>
                    <%= l claim.updated_at, format: :medium %>
                  <% end %>

                  <h5>Source</h5>
                  <%= sources[claim.source_id] %>

                  <% if claim.error_messages.present? %>
                    <h5>Error Message</h5>
                    <% if current_user.is_admin_or_staff? %>
                      <br/><br/>
                    <% end %>
                    <%= h(claim.error_messages.first["title"]) %>
                  <% end %>
                <% end %>
              </div>
              <% if can?(:manage, claim) %>
                <div class="panel-footer">
                  <div class="btn-toolbar">
                    <div class="btn-group btn-group-sm pull-right">
                      <%= link_to "Delete".html_safe, admin_claim_path(claim, query: params[:query], page: params[:page]), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'btn btn-fill btn-sm', id: "#{claim.id}-delete" %>
                    </div>
                    <div class="btn-group btn-group-sm pull-right">
                      <%= link_to "Update".html_safe, edit_admin_claim_path(claim, query: params[:query], page: params[:page]), remote: true, class: 'btn btn-sm', id: "#{claim.id}-edit" %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div> 
        </div>
      <% end %>
      <div class="text-center">
        <%= paginate @claims %>
      </div>
    <% else %>
      <div class="alert alert-warning">
        There are currently no claims
          <% unless params[:query].blank? %>
            with <strong><%= params[:query] %></strong> in the DOI
          <% end %>
      </div>
    <% end %>
  </div>
</div>
