.nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{role: "button", data: { toggle: "dropdown"}, aria: { haspopup: "true", expanded: "false" }}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.logo.pull-left
        = link_to image_tag('logo-small.png'), 'http://www.datacite.org'
      %a.navbar-brand{href: "/"}
        = icon('user')
        Profiles

    .navbar-collapse.collapse
      - unless ["sessions","registrations"].include?(controller.controller_name)
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{href: '#', data: { toggle: "dropdown"}, id: "account_menu_link"}
                = current_user.name
                %span.caret
              %ul.dropdown-menu{role: "menu"}
                %li
                  = link_to "#{icon('user')} Your Account".html_safe, user_path("me")
                %li.divider
                %li
                  %a{:href => "#{ENV['ORCID_URL']}/#{current_user.uid}"}
                    %i.fa.fa-external-link
                    ORCID Record
                %li.divider
                %li
                  = link_to "#{icon('sign-out')} Sign Out".html_safe, '/sign_out', :method => :delete, id: "sign_out"
          - else
            %li
              = link_to "Sign in with ORCID", user_omniauth_authorize_path(:orcid), :id => "sign_in"

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: { toggle: "dropdown"}}
            = icon('th')
            %span.caret
          %ul.dropdown-menu{role: 'menu'}
            %li.dropdown-header
              DataCite Labs
              - Settings.labs_links.each do |item|
                %li
                  %a{:href => item['url']}
                    = icon(item['icon'])
                    = item['name']
            %li.divider
            %li.dropdown-header
              DataCite
            - Settings.production_links.each do |item|
              %li
                %a{:href => item['url']}
                  %i.fa.fa-fw{class: "fa-#{item['icon']}"}
                  = item['name']
