<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ENV['SITE_TITLE'] %></title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet">
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href="<%= ENV['CDN_URL'] %>/stylesheets/doi.css" rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.statuspage.io/se-v2.js"></script>
    <script src="<%= ENV['CDN_URL'] %>/javascripts/default.js"></script>
  </head>

  <body>
    <%= render partial: "layouts/#{ENV['MODE']}/header" -%>
    <%= yield -%>
    <%= render partial: "layouts/analytics" -%>
    <%= render partial: "layouts/#{ENV['MODE']}/footer" -%>
  </body>
</html>
