<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ENV['SITE_TITLE'] %></title>
    <%= csrf_meta_tags %>

    <link href='//fonts.googleapis.com/css?family=Raleway:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href="//<%= ENV['CDN_HOST'] %>/stylesheets/vellum.css" rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//<%= ENV['CDN_HOST'] %>/javascripts/vellum.js"></script>

    <% if ENV['BUGSNAG_JS_KEY'] %>
      <script
        src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"
        data-apikey="<%= ENV['BUGSNAG_JS_KEY'] %>">
      </script>
    <% end %>
  </head>

  <body>
    <%= render partial: "layouts/#{ENV['MODE']}/header" -%>
    <%= yield -%>
    <%= render partial: "layouts/analytics" -%>
    <%= render partial: "layouts/#{ENV['MODE']}/footer" -%>
  </body>
</html>
