<div class="row">
  <div class='col-md-9'>
    <div class="search-wide">
      <%= form_tag(members_path, :method => "get", :class => "form form-horizontal", :member_type => "form") do %>
        <div class="input-group">
          <%= hidden_field_tag :member_type, params[:member_type] %>
          <%= hidden_field_tag :region, params[:region] %>
          <%= hidden_field_tag :year, params[:year] %>
          <%= search_field_tag :query, params[:query], :placeholder => "Search member", :class => "form-control" %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary hidden-xs">Search</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='col-md-3'>
    <% if can?(:manage, Member) and (controller.action_name != "new" && (controller.action_name != "create")) %>
      <div class="panel facets">
        <div class="panel-body">
          <div class="pull-right">
            <h4 class="link"><%= link_to "#{icon('plus')} Add Member".html_safe, new_member_path, { remote: true, id: "new-member", class: "btn btn-default" } %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class='col-md-9 panel-list' id="content">
    <% if can?(:manage, Member) and (controller.action_name == "new" || (controller.action_name == "create" && !@member.errors.empty?)) %>
      <div class="panel panel-default">
        <%= simple_form_for @member, url: members_path, :html => { role: "form", multipart: true, remote: true } do |f| %>
          <%= render :partial => 'form', locals: { f: f } %>
        <% end %>
      </div>
    <% else %>
      <% if @members.size > 0 %>
        <% @members.each do |member| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <h3><%= link_to h(member.title), member_path(member.name) %></h3>
              <div class="country"><%= h(member.country_name) %></div>
            </div>
            <div class="panel-footer">
              <%= icon("info-circle") %>
              <%= member.name.upcase %>
              <span class="label label-default label-<%= member.member_type %> pull-right"><%= member.member_type + " member" %></span>
            </div>
          </div>
        <% end %>
        <div class="text-center">
          <%= will_paginate @members, :params => { :controller => members_path }, :renderer => BootstrapPagination::Rails %>
        </div>
      <% else %>
        <div class="alert alert-simple-info">
          <h5>There are currently no members
            <% unless @member_type.nil? %>
                with member_type "<%= @member_type.capitalize %>"
            <% end %>
            <% unless params[:query].blank? %>
                with <strong><%= params[:query] %></strong> in the name or title
            <% end %>
          </h5>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='col-md-3'>
    <% if @member_types.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Member types</h4>
          <ul>
            <% if @member_type %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, members_path(query: params[:query], region: params[:region], year: params[:year]) %>
                <%= @member_type.first.humanize %>
                <span class="number pull-right"><%= number_with_delimiter(@member_type.last) %></span>
              </li>
            <% else %>
              <% @member_types.each do |member_type| %>
                <li>
                  <%= link_to icon('square-o').html_safe, members_path(query: params[:query], member_type: member_type.first, region: params[:region], year: params[:year]) %>
                  <%= member_type.first.humanize %>
                  <span class="number pull-right"><%= number_with_delimiter(member_type.last) %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @regions.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Regions</h4>
          <ul>
            <% if @region %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, members_path(query: params[:query], member_type: params[:member_type], year: params[:year]) %>
                <%= regions[@region.first] %>
                <span class="number pull-right"><%= number_with_delimiter(@region.last) %></span>
              </li>
            <% else %>
              <% @regions.each do |region| %>
                <li>
                  <%= link_to icon('square-o').html_safe, members_path(query: params[:query], region: region.first, member_type: params[:member_type], year: params[:year]) %>
                  <%= regions[region.first] %>
                  <span class="number pull-right"><%= number_with_delimiter(region.last) %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @years.size > 0 %>
      <div class="panel facets">
        <div class="panel-body">
          <h4>Year joined</h4>
          <ul>
            <% if @year %>
              <li class="active">
                <%= link_to icon('check-square-o').html_safe, members_path(query: params[:query], member_type: params[:member_type], region: params[:region]) %>
                <div class="facet-title"><%= @year.first %></div>
                <span class="number pull-right"><%= number_with_delimiter(@year.last) %></span>
                <div class="clearfix"/>
              </li>
            <% else %>
              <% @years.each do |year| %>
                <li>
                  <%= link_to icon('square-o').html_safe, members_path(query: params[:query], year: year.first, member_type: params[:member_type], region: params[:region]) %>
                  <div class="facet-title"><%= year.first %></div>
                  <span class="number pull-right"><%= number_with_delimiter(year.last) %></span>
                  <div class="clearfix"/>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

