<div class="panel panel-default" id="content-member">
  <% if can?(:update, @member) && (controller.action_name == "edit" || (controller.action_name == "update" && !@member.errors.empty?)) %>
    <%= simple_form_for @member, url: member_path(@member, user_id: @user), html: { role: "form", multipart: true, remote: true } do |f| %>
      <%= render :partial => 'form', locals: { f: f } %>
    <% end %>
  <% else %>
    <div class="panel-body">
      <h3><%= h(@member.title) %> <span class="label label-default label-<%= @member.member_type %> pull-right"><%= @member.member_type %> member</h3>
      <% if @member.description.present? %>
        <div class="description"><%= markdown(@member.description) %></div>
      <% end %>
      <% if @member.image.present? %>
        <div class="logo text-center">
          <img src="<%= @member.image_url %>">
        </div>
      <% end %>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Country</dt>
        <dd><%= @member.country_name %></dd>
        <dt>Year joined</dt>
        <dd><%= @member.year %></dd>
        <% if @member.website.present? %>
          <dt>Website</dt>
          <dd><%= link_to h(@member.website), @member.website %></dd>
        <% end %>

        <% if @member.email.present? %>
          <dt>Email</dt>
          <dd><%= link_to h(@member.email), "mailto:#{@member.email}" %></dd>
        <% end %>

        <% if @member.phone.present? %>
          <dt>Phone</dt>
          <dd><%= h(@member.phone) %></dd>
        <% end %>
      </dl>
    </div>
    <div class="panel-footer">
      <%= icon("info-circle") %>
      <%= @member.name.upcase %>
      <% if can?(:update, @member) %>
        <div class="btn-toolbar pull-right">
          <div class="btn-group btn-group-sm">
            <%= link_to icon("pencil").html_safe, edit_member_path(@member, user_id: @user), remote: true, class: 'btn btn-neutral btn-fill btn-sm' %>
          </div>
          <% if can?(:manage, @member) %>
            <div class="btn-group btn-group-sm">
              <%= link_to icon("trash").html_safe, member_path(@member, user_id: @user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-neutral btn-fill btn-sm' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
